<!-- src/pages/templates/default.html -->
<!DOCTYPE html>
<html lang="{{languageCode}}">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="richplastow richi-chloe-lizzy-birthday-2024">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg viewBox='-4 -4 8 8'
        xmlns='http://www.w3.org/2000/svg'><circle r='4' fill='%2356b32e'/></svg>">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <style>
@import url('style/core.css');
    </style>
</head>
<body class="route--{{routeBasename}}">
<script>document.body.classList.add('js-ok')</script>
<script>setTimeout(function(){document.body.classList.add('can-transit')}, 200)</script>

<div id="background-cover"></div>

<!-- Navigation. -->
<nav>
<!-- TODO -->
</nav>

<!-- Main content. -->
<main>
{{content}}
</main>

<!-- Create a minimal instance of the app, with just the core functionality. -->
<script>!async function (){
    const { App } = await import('./js/app.js');
    const { UserCore } = await import('./js/plugins/user-core.js');
    const app = new App({
        plugins: [
            new UserCore(), // apply user's choice of day/night theme
        ],
    });
    app.init();
}()</script>

<style>@import url('style/fonts.css');</style>
</body>
</html>