/* BEGIN style/buttons-and-notifications.css */

/* Buttons and notifications. */
.btn, .warn {
    display: inline-block; /* enables padding on <a> elements */
    line-height: 1em; /* If 0, `text-overflow: ellipsis;` breaks on Firefox */
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    border-radius: 0.4rem;
}
.btn {
    padding: .6rem 1.05rem;
    margin-bottom: 0.5rem;
    background: #236;
    font-family: display, serif;
    letter-spacing: 0.1em;
    transition: background .3s, max-width .3s; /* max-width is for .can-min */
}
.warn { /* TODO prevent keyboard interaction with UI underneath a .warn element */
    position: fixed;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    padding: 1.6rem 1.5rem 1.9rem;
    text-overflow: ellipsis;
    background: #652;
    z-index: 1;
}
body.light .warn { background: #db6 }

.btn:hover { background: #358 }
.btn:active, .btn.just-clicked { background: #58b }
body.light .btn { background: #8cc }
body.light .btn:hover { background: #cff }
body.light .btn:active, body.light .btn.just-clicked { background: #fff }

.btn:active, .btn.just-clicked { transition: background 0s, max-width .3s }


/* The developer button is hidden, but can be clicked by pressing the "$" key. */
.btn-dev { display: none }

/* Buttons which can be minimized. */
/* Note that `max-width: 9rem` needs increasing if wider buttons are used. */
.can-min .btn { max-width: 9rem }
.can-min .btn i { font-style: normal; transition: opacity .3s }
@media (max-width: 400px) {
    .can-min .btn { max-width: 3rem }
    .can-min .btn i { opacity: 0 }
}

/* END style/buttons-and-notifications.css */
