/* BEGIN style/elements-inline.css */

/* Links. */
/* Note that buttons like `<a class="btn" ... </a>` are partly styled here. */
a, a:visited {
    color: #34aaff;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.1em;
    outline: 0.2rem solid transparent!important; /* Firefox */
    transition: outline-color 0.3s, background-color 0.3s, color 0.3s;
}
a:hover { color: #8edfff }
a:focus { outline-color: #75cfff!important }
body.light a, body.light a:visited { color: #005bc3 }
body.light a:hover { color: #228dff }

/* Strike. */
del { text-decoration-thickness: 0.1em; }

/* END style/elements-inline.css */
