/* BEGIN style/elements-block.css */

/* Headings. */
h1, h2, h3, h4, h5, h6 {
    color: #8eff5e;
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

body.light h1,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light h6 {
    color: #56b32e;
}

h2 {
    margin-top: 1.5em;
}

/* Horizontal rule. */
hr {
    border: none;
    border-bottom: 4px solid #8eff5e;
}
body.light hr {
    border-bottom-color: #56b32e;
}

/* Lists. */
ul {
    padding-left: 1em;
}
li::marker {
    /* color: #34aaff; */
    color: #8eff5e;
}
body.light li::marker {
    /* color: #005bc3; */
    color: #56b32e;
}

/* END style/elements-block.css */
